[Unit]
Description=GEC TT VPN policy routing
After=network-online.target wg-quick@wg0.service
Wants=network-online.target wg-quick@wg0.service
BindsTo=wg-quick@wg0.service
PartOf=wg-quick@wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/gec-tt-vpn-policy
ExecStart=/usr/local/bin/gec-tt-vpn-policy enable
ExecStop=/usr/local/bin/gec-tt-vpn-policy disable

[Install]
WantedBy=multi-user.target
